<%
// arguments
var productModel;
var twitterSearchWords;
%>

<tr>
    <th>タイトル</th>
    <td><%= productModel.getProductName() %></td>
</tr>

<% if (productModel.productCompany) { %>
<tr>
    <th>制作会社</th>
    <td><%= productModel.productCompany %></td>
</tr>
<% } %>

<tr>
    <th>カテゴリ</th>
    <td>
        <a href="/ranking/">
            <%= productModel.getBelongedProductTypeBundleJaName() %>
        </a>
    </td>
</tr>
<tr>
    <th>放送開始</th>
    <td>
        <%= productModel.getReleaseDateMoment().format('YYYY年M月') %> (第<%= productModel.cours %>クール)
    </td>
</tr>
<tr>
    <th>公式サイト</th>
    <td>
        <a href="<%= productModel.publicUrl %>"><%= productModel.publicUrl %></a>
    </td>
</tr>

<% if (productModel.twitterAccount) { %>
    <tr>
        <th>公式Twitterアカウント</th>
        <td>
            <a href="https://twitter.com/<%= productModel.twitterAccount %>">
                @<%= productModel.twitterAccount %>
            </a>
        </td>
    </tr>
<% } %>

