<%
// arguments
var productModel;
var twitterSearchWords;

var caption = productModel.captionOpendb || productModel.caption;
%>

<tr>
    <th>タイトル</th>
    <td><%= productModel.getProductName() %></td>
</tr>

<% if (productModel.author) { %>
<tr>
    <th>著者</th>
    <td><%= productModel.author %></td>
</tr>
<% } %>

<tr>
    <th>カテゴリ</th>
    <td>
        <a href="/ranking/">
            <%= productModel.getBelongedProductTypeBundleJaName() %>
        </a>
    </td>
</tr>

<tr>
    <th>発売日</th>
    <td><%= productModel.saleDateStr %></td>
</tr>

<tr>
    <th>出版社</th>
    <td><%= productModel.publisher %></td>
</tr>

<% if (productModel.size) { %>
<tr>
    <th>種類</th>
    <td><%= productModel.size %></td>
</tr>
<% } %>

<% if (productModel.getRakutenAffiliateURL()) { %>
<tr>
    <th>読む</th>
    <td>
        <a href="<%= productModel.getRakutenAffiliateURL() %>">
            楽天ブックス
        </a>
<!--        <a class="btn btn-danger rakuten-buy-button" href="<%= productModel.getRakutenAffiliateURL() %>">-->
<!--            楽天-->
<!--        </a>-->
    </td>
</tr>
<% } %>

<% if (caption) { %>
<tr>
    <th>あらすじ</th>
    <td><%- caption %></td>
</tr>
<% } %>
