<%
// arguments
var productModel;
var twitterSearchWords;
%>

<tr>
    <th>タイトル</th>
    <td><%= productModel.getProductName() %></td>
</tr>
<tr>
    <th>カテゴリ</th>
    <td>
        <a href="/ranking/">
            <%= productModel.getBelongedProductTypeBundleJaName() %>
        </a>
    </td>
</tr>
<tr>
    <th>発売日</th>
    <td><%= productModel.saleDateStr %></td>
</tr>

<% if (productModel.getRakutenAffiliateURL()) { %>
    <tr>
        <th>購入</th>
        <td>
            <a href="<%= productModel.getRakutenAffiliateURL() %>">
                楽天ブックス
            </a>
        </td>
    </tr>
<% } %>

<% if (productModel.caption) { %>
    <tr>
        <th>ゲーム概要</th>
        <td><%- productModel.caption %></td>
    </tr>
<% } %>
