<%
var originalURL;
%>

<link rel="icon" href="/favicon.ico">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125946852-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }

  gtag('js', new Date());

  gtag('config', 'UA-125946852-2');
</script>

<nav id="header" class="navbar navbar-expand-lg navbar-light" style="flex-direction: column;">
    <a class="navbar-brand" href="/">
        <span class="logo-text">
            BuzzRanking
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse common-nav" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li id="nav-sitemap" class="nav-item common-nav-item">
                <a class="nav-link" href="/sitemap">
                    <i class="fas fa-sitemap"></i>
                    サイトマップ
                </a>
            </li>
        </ul>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <%
            __.each(Const.NAV_BUNDLE_ID_ORDER, bId => {
                var bName = Const.PRODUCT_TYPE_BUNDLE_ID_TO_NAME_HASH[bId];
            %>
            <li id="nav-<%= bName %>" class="nav-item <%= originalURL && originalURL.match(bName) ? 'active' : '' %>">

                <a class="nav-link" href="/ranking/<%= bName %>">
                    <i class="<%= Const.PRODUCT_TYPE_BUNDLE_ID_TO_FONT_AWESOME_CLASS[bId] %>"></i>
                    <%= Const.PRODUCT_TYPE_BUNDLE_ID_TO_JA_NAME_HASH[bId] %>
                </a>
            </li>
            <% }); %>
        </ul>
    </div>

    <!-- About the Buzzranking icon -->
    <div id="nav-about" class="nav-item">
        <a class="nav-link about-icon" href="/faq">
            <i class="far fa-question-circle"></i>
        </a>
    </div>
</nav>

<p id="PageTopBtn"><a href="#wrap"><i class="fas fa-angle-double-up"></i></a></p>
