<%
const appRoot = require('app-root-path');
const __ = require('underscore');
const CONST = require(appRoot + '/lib/const.js');
const UrlGenerator = require(appRoot + '/lib/url_generator.js');

// arguments
var productTypeBundleId;
%>

<link rel="icon" href="/favicon.ico">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125946852-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }

  gtag('js', new Date());
  gtag('config', 'UA-125946852-2');
</script>

<nav id="header" class="navbar navbar-expand-lg navbar-light" style="flex-direction: column;">
    <a class="navbar-brand" href="/">
        <span class="logo-text">
            BuzzRanking
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--<div class="collapse navbar-collapse common-nav" id="navbarSupportedContent">-->
    <!--<ul class="navbar-nav">-->
    <!--<li id="nav-sitemap" class="nav-item common-nav-item">-->
    <!--<a class="nav-link" href="/sitemap">-->
    <!--<i class="fas fa-sitemap"></i>-->
    <!--サイトマップ-->
    <!--</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->

    <div id="navbarSupportedContent" class="collapse navbar-collapse no-transition">
        <ul class="navbar-nav">
            <%
            __.each(CONST.NAV_BUNDLE_ID_ORDER, bTypeId => {
                var bName = CONST.PRODUCT_TYPE_BUNDLE_ID_TO_NAME_HASH[bTypeId];
                var isActive = bTypeId == productTypeBundleId;
            %>
            <li id="nav-<%= bName.toLowerCase() %>"
                class="nav-item <%= isActive ? 'active' : '' %>">

                <a class="nav-link" href="<%= UrlGenerator.generateRankingPageURL({ productTypeBundleId: bTypeId, }) %>">
                    <i class="<%= CONST.PRODUCT_TYPE_BUNDLE_ID_TO_FONT_AWESOME_CLASS[bTypeId] %>"></i>
                    <%= CONST.PRODUCT_TYPE_BUNDLE_ID_TO_JA_NAME_HASH[bTypeId] %>
                </a>
            </li>
            <% }); %>
        </ul>
    </div>

    <div class="all-search-div">
        <input id="input-all-search" class="form-control" type="text" autocomplete="off"
           placeholder="気になるあの作品のタイトルを入力して検索"></label>
        <button class="form2-button"><i class="fa fa-search"></i></button>
    </div>

    <!-- About the Buzzranking icon -->
    <div id="nav-about" class="nav-item">
        <a class="nav-link about-icon" href="/faq">
            <i class="far fa-question-circle"></i>
        </a>
    </div>
</nav>

<p id="PageTopBtn"><a href="#wrap"><i class="fas fa-angle-double-up"></i></a></p>

<noscript>
    <h1 class="m-5">
        当サービスをご利用頂くためにはお使いのブラウザの設定より、JavaScriptを有効化してください。
    </h1>
</noscript>
