<%
var productTypeBundleNames = __.keys(Const.PRODUCT_TYPE_BUNDLE_NAME_TO_ID);

var productTypeBundleIdToAltText = {
  [Const.PRODUCT_TYPE_BUNDLE_NAME_TO_ID['inn']]: '<span class="no-wrap">宿泊・旅行</span><span class="no-wrap">予約</span>',
};
%>

<!DOCTYPE html>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="/css/common.css" rel="stylesheet">
<link href="/css/index.css" rel="stylesheet">

<html>
<head>
    <%- include(appRoot + '/views/google_analytics.ejs') %>

    <title>【毎日更新】BuzzRanking 今バズってる話題の商品・サービスをランキング形式で紹介！</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="今ネットでバズっている本や漫画、小説、ゲームなどの商品や、宿泊・旅行予約などのWebサービスを話題性の高い順に毎日ランキング形式で紹介します。">

</head>
<body>

<%- include(appRoot + '/views/header.ejs') %>

<div class="container-fluid p-3">

    <div class="grid-container">
        <%
        __.each(productTypeBundleNames, productTypeBundleName => {
          var productTypeBundleId = Const.PRODUCT_TYPE_BUNDLE_NAME_TO_ID[productTypeBundleName];
          var dispHTML = productTypeBundleIdToAltText[productTypeBundleId] || Const.PRODUCT_TYPE_BUNDLE_ID_TO_JA_NAME_HASH[productTypeBundleId];
        %>

            <div class="grid">
                <a href="/ranking/<%= productTypeBundleName %>">
                    <img src="img/category/<%= productTypeBundleName %>.jpg">
                </a>
                <p><%- dispHTML %></p>
            </div>

        <% }); %>
    </div>


    <div>

        \r\n\r\n<div  ></div>\r\n\r\n\r\n\r\n\r\n\r\n<div class=\"mdMTMWidget01Content01 MdCF\" >\r\n\r\n\r\n\t<div class=\"mdMTMWidget01ItemTxt01\">\r\n\t\t<p class=\"mdMTMWidget01ItemTxt01View\"><!--\r\n-->ddddddddd<!--\r\n--><!--\r\n--></p>\r\n\t<!--/mdMTMWidget01ItemTxt01--></div>\r\n\r\n<!--/mdMTMWidget01Content01--></div>\r\n\r\n\r\n<div class=\"mdMTMWidget01Util01\">\r\n<div class=\"MdToolbar01\">\r\n<span class=\"mdToolbar01Top\"><a href=\"#\" class=\"mdToolbar01TopBtn\" title=\"一番上に移動\" >一番上に移動</a></span>\r\n<span class=\"mdToolbar01Up\"><a href=\"#\" class=\"mdToolbar01UpBtn\" title=\"上に移動\" >上に移動</a></span>\r\n<span class=\"mdToolbar01Down\"><a href=\"#\" class=\"mdToolbar01DownBtn\" title=\"下に移動\" >下に移動</a></span>\r\n<span class=\"mdToolbar01Btm\"><a href=\"#\" class=\"mdToolbar01BtmBtn\" title=\"一番下に移動\" >一番下に移動</a></span>\r\n<span class=\"mdToolbar01Drag\"><a href=\"#\" class=\"mdToolbar01DragBtn\" title=\"移動\" >移動</a></span>\r\n</div>\r\n<!--/mdMTMWidget01Util01--></div>\r\n\r\n<div class=\"mdMTMWidget01Util02\">\r\n<a class=\"MdBtn02Edit01\" title=\"修正\" ><span class=\"mdBtn02Edit01Ico\"></span><span class=\"mdBtn02Edit01Txt\">修正</span></a><span class=\"MdSeparator01P02\">|</span>\r\n<a class=\"MdBtn02Del01\" title=\"削除\" ><span class=\"mdBtn02Del01Ico\"></span><span class=\"mdBtn02Del01Txt\">削除</span></a>\r\n<!--/mdMTMWidget01Util02--></div>\r\n\r\n<div class=\"_jWidgetData\" data-contentData=\"{&quot;userHash&quot;:&quot;r7r7oltl4lavi3a7rvg2&quot;,&quot;userNumber&quot;:&quot;10212568&quot;,&quot;userNick&quot;:&quot;BuzzRanking&quot;,&quot;created&quot;:&quot;2019-07-23 10:00:17&quot;,&quot;updated&quot;:&quot;2019-07-23 10:00:17&quot;,&quot;contentId&quot;:&quot;2156384361729491403&quot;,&quot;missionId&quot;:&quot;2156379068416321101&quot;,&quot;title&quot;:&quot;ddddddddd&quot;,&quot;publicationUrl&quot;:{},&quot;thumbnailPublicationUrl&quot;:{},&quot;serviceType&quot;:&quot;MATOME&quot;,&quot;collectionType&quot;:&quot;WEB&quot;,&quot;type&quot;:&quot;X&quot;,&quot;fileSize&quot;:0,&quot;recommendedCount&quot;:0,&quot;goodCount&quot;:0,&quot;viewCount&quot;:0,&quot;commentCount&quot;:0,&quot;deadFlag&quot;:false,&quot;userAgentMovieType&quot;:0,&quot;twitterPosted&quot;:null,&quot;tweetId&quot;:0,&quot;prevContentId&quot;:&quot;2156381525622856803&quot;,&quot;nextContentId&quot;:&quot;0&quot;,&quot;privateFlag&quot;:&quot;Y&quot;,&quot;bookmarkId&quot;:0,&quot;playable&quot;:false,&quot;totalViewCount&quot;:0,&quot;animatedGifThumbnailUrl&quot;:false,&quot;redeliver&quot;:false}\" style=\"display:none\"></div>

</div>


</div>

<%- include(appRoot + '/views/footer.ejs') %>

</body>
</html>

<script src="/js/compressed/index.min.js" type="text/javascript"></script>
