<%
var initialDisplayTweetDataArray = __.first(tweetDataArray, 100);

var dataChartPlots = __.map(tweetCountLogModels, function (m) {
    return '["' + m.createdAt + '",' + m.buzz + ']';
}).join(',');

var productTypeBundleId = Const.PRODUCT_TYPE_ID_TO_BELONGED_PRODUCT_TYPE_BUNDLE_ID[productModel.productTypeId];
var productTypeBundleName = Const.PRODUCT_TYPE_BUNDLE_ID_TO_NAME_HASH[productTypeBundleId];
var productModelName = productModel._modelOptions.name.singular;
var productDetailTemplatePath = 'product_detail/' + productModelName + '.ejs';
var twitterAltSearchWordsStr = __.map(twitterAltSearchModels, m => {
    return m.searchWord;
}).join(', ') || productModel.title;

var TITLE_TAG_DEFAULT = Const.PRODUCT_TYPE_BUNDLE_ID_TO_JA_NAME_HASH[productTypeBundleId] + ' ' + productModel.title + 'のネットの評価、レビュー、反応【BuzzRanking】';
var PRODUCT_TYPE_ID_TO_ALT_TITLE_HASH = {
    [Const.PRODUCT_TYPE_NAME_TO_ID_HASH.comic]: '漫画 ' + productModel.title + ' のネットの評価、レビュー、反応【BuzzRanking】',
};

var titleTagStr = PRODUCT_TYPE_ID_TO_ALT_TITLE_HASH[productModel.productTypeId] || TITLE_TAG_DEFAULT;
%>

<!DOCTYPE html>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="/css/common.css" rel="stylesheet">
<link href="/css/product_detail.css" rel="stylesheet">

<html>
<head>
    <title>
        <%= titleTagStr %>
    </title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <meta name="description" content="<%= productModel.title %>のネットの反応や話題度推移を紹介！【BuzzRanking】">
</head>
<body>

<%- include('header.ejs') %>

<div id="content" class="container-fluid">
    <%- include(appRoot + '/views/google_adsense_ad.ejs') %>

    <%- include(productDetailTemplatePath, { dataChartPlots: dataChartPlots, twitterAltSearchWordsStr: twitterAltSearchWordsStr, }) %>

    <div class="pt-3">
        <%- include('product_detail/top_3_ranking_ad.ejs', { dataChartPlots: dataChartPlots, }) %>
    </div>

    <% if (!isInvalidProduct && !!tweetDataArray.length) { %>
        <div class="row">
            <div class="col-12 text-align-center">
                <h2>
                    <span class="no-wrap"><%= productModel.title + (productModel.subTitle ? ' ' + productModel.subTitle : '') %></span><span
                            class="no-wrap">のネットの反応</span>
                </h2>
            </div>
        </div>

        <div class="row mx-auto tweet-reference-block">
            <div class="col-12">
                <%
                __.times(initialDisplayTweetDataArray.length, function(n) {
                    var tweetData = initialDisplayTweetDataArray[n];
                    var tweetModel = tweetData.tweetModel;
                %>
                <div class="row">
                    <div class="col-12">
                        <blockquote class="twitter-tweet" data-lang="ja" data-cards="">
                            <a href="https://twitter.com/<%= tweetModel.screenName %>/status/<%= tweetModel.tweetId %>"><%= tweetModel.text %></a>
                        </blockquote>
                    </div>
                </div>

                <% if ((n + 1) % 5 == 0) { %>
                    <div class="row">
                        <div class="col-12">
                            <%- include(appRoot + '/views/google_adsense_ad.ejs') %>
                        </div>
                    </div>
                <% } %>

                <% }); %>
            </div>
        </div>

        <% if (initialDisplayTweetDataArray.length % 5 != 0) { %>
            <%- include(appRoot + '/views/google_adsense_ad.ejs') %>
        <% } %>

        <div class="pt-3">
            <%- include('product_detail/top_3_ranking_ad.ejs', { dataChartPlots: dataChartPlots, }) %>
        </div>

    <% } else { %>
        <div class="row">
            <div class="col-12 invalid-product-description">
                ※こちらの商品は正確なBuzz度の測定が困難であると判断されたため、ランキング及び関連ツイート表示の対象外となっています。
            </div>
        </div>
    <% } %>

</div>

<%- include('footer.ejs') %>

</body>
</html>

<script src="/js/compressed/product_detail.min.js" type="text/javascript"></script>
