<%
var statDataModel = data.statDataModel;
var tweetModels = data.tweetModels;
var productInfo = data.productInfo;

var a8ProgramModel = productInfo.a8ProgramModel;
var bookModel = productInfo.bookModel;

var rank = statDataModel.getRank();
%>

<% if (bookModel) { %>

<div class="product-info">
    <% if (rank <= 3) { %>
    <div class="row d-flex align-items-center rank-area" style="background-image:url('/img/ranking/rank_<%= rank %>_crown.png');">
    <% } else { %>
    <div class="row d-flex align-items-center rank-area">
    <% } %>

        <div class="col-12 rank-text">
            第
            <span class="rank-num <%= rank <= 3 ? 'best-3-rank-num' : '' %> "><%= rank %></span>
            位
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <span class="score-row">
                <i class="fas fa-user-friends"></i>
                <%= statDataModel.getUserCount() %>
            </span>
            <span class="score-row">
                <i class="fas fa-comments"></i>
                <%= statDataModel.getTweetCount() %>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <a href="<%= bookModel.getImageURLBase() %>" class="zoomable-image">
                <img src="<%= bookModel.getImageURLBase() %>" class="img-fluid book-img">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="product-title">
                <%= bookModel.getTitle() %>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="sale-date">
                <%= bookModel.getSaleDateStr() %> 発売
            </span>
        </div>
    </div>
    <a href="<%= bookModel.getAffiliateURL() %>" target="_blank"
       class="btn btn-danger">楽天ブックス</a>
</div>

<% } else if (a8ProgramModel) { %>

<div class="product-info">
    <% if (rank <= 3) { %>
    <div class="row d-flex align-items-center rank-area"
         style="background-image:url('/img/ranking/rank_<%= rank %>_crown.png');">
    <% } else { %>
    <div class="row d-flex align-items-center rank-area">
    <% } %>

        <div class="col-12 rank-text">
            第
            <span class="rank-num <%= rank <= 3 ? 'best-3-rank-num' : '' %> "><%= rank %></span>
            位
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="score-row">
                <i class="fas fa-user-friends"></i>
                <%= statDataModel.getUserCount() %>
            </span>
            <span class="score-row">
                <i class="fas fa-comments"></i>
                <%= statDataModel.getTweetCount() %>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-12 ad-banner">
            <%- a8ProgramModel.getAdHTML() %>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p class="product-title">
                <%= a8ProgramModel.getDisplayName() %>
            </p>
        </div>
    </div>
</div>

<% } else { %>
    ERROR!<br>
    No product information or undefined ejs
<% } %>
