<%
const INITIAL_DISPLAY_LIMIT_RANK = 10;
const INITIAL_DISPLAY_TWEET_NUM = 3;
const PRODUCT_TYPE_ID_INTO_TEXT_HASH = {
    1: {
      titleTag: '【毎日更新】漫画・コミック新刊 流行ランキング【BuzzRanking】',
      heading: '今<span>注目されている</span><span>漫画・コミック新刊</span>ランキング',
    },
    2: {
      titleTag: '【毎日更新】出会い系・マッチングサービス 流行ランキング【BuzzRanking】',
      heading: '今<span>注目されている</span><span>出会い系・マッチングサービス</span><span>ランキング</span>'
    },
};

var texts = PRODUCT_TYPE_ID_INTO_TEXT_HASH[productTypeId];
%>

<!DOCTYPE html>
<link href="/css/luminous-basic.min.css" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="/css/common.css" rel="stylesheet">
<link href="/css/ranking.css" rel="stylesheet">

<html>
<head>
    <title><%- texts.titleTag %></title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
</head>
<body>

<%- include(appRoot + '/views/header.ejs') %>
<div class="container-fluid">
    <div>
        <h1><%- texts.heading %></h1>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="text-align-right">
                最終更新日 <span class="last-updated-at"><%= myUtil.convertDateObjectIntoJapaneseDateString(statModel.getRankingDate()) %></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="text-align-right">
                (<%= myUtil.convertDateObjectIntoJapaneseDateString(statModel.getStatSince()) %> ~ <%= myUtil.convertDateObjectIntoJapaneseDateString(statModel.getStatUntil()) %>集計)
            </div>
        </div>
    </div>


<% if (targetDate.getTime() < latestStatDate.getTime()) { %>
        <div class="row">
            <div class="col-12">
                ※過去のランキングを表示しています。
                <a href="/book">
                    <span>最新のランキング(<%= myUtil.convertDateObjectIntoJapaneseDateString(latestStatDate) %>)はこちら</span>
                </a>
            </div>
        </div>
    <% } %>

    <%
    __.times(ranking.length, function(n) {
        var data = ranking[n];
        var rank = data.statDataModel.getRank();
        var tweetModels = data.tweetModels;
        var shouldInitialDisplay = rank <= INITIAL_DISPLAY_LIMIT_RANK;
    %>

    <% if (n % 2 == 0) { %>
    <div class="row product-row-block">
        <div class="col-md-12 col-lg-6">
            <% } else { %>
        </div>
        <div class="col-md-12 col-lg-6">
            <% } %>

            <div class="row shadow p-3 mb-5 bg-white rounded product-block">
                <div class="col-4 product-col">
                    <%-
                    include(appRoot + '/views/product_col.ejs', {
                    data: data,
                    })
                    %>
                </div>

                <%
                    var initialDisplayTweets = shouldInitialDisplay ? __.first(tweetModels, INITIAL_DISPLAY_TWEET_NUM) : [];
                    var dataAttrStr = __.map(tweetModels, function (tweetModel) {
                        return '["' + tweetModel.getScreenName() + '","' + tweetModel.getTweetId() + '"]';
                    }).join(',');
                %>

                <div class="col-8 tweet-references">
                    <div class="twitter-reaction-loading">
                        <span class="spinner-border text-primary" role="status" aria-hidden="true"></span>
                    </div>

                    <div class="grad-wrap">
                        <button class="btn btn-lg text-shadow grad-trigger"
                                type="button"
                                data-read-more-tweet-ids="[<%= dataAttrStr %>]">
                            <%= shouldInitialDisplay ? '続きを読む' : 'Twitterの反応を見る' %>
                        </button>

                        <div class="grad-item" data-grad-idx="<%= rank %>"
                             data-is-first-render=<%= shouldInitialDisplay ? 'true' : 'false' %>>

                            <% if (shouldInitialDisplay) { %>
                                <% __.each(initialDisplayTweets, function(tweetModel) { %>
                                    <blockquote class="twitter-tweet" data-lang="ja" data-cards="">
                                        <a href="https://twitter.com/<%= tweetModel.getScreenName() %>/status/<%= tweetModel.getTweetId() %>"></a>
                                    </blockquote>
                                <% }); %>
                            <% } else { %>
                                <img src="/img/mosaic_tweet_list.png" class="mosaic-tweet-list-img">
                            <% } %>

                        </div>
                    </div>
                </div>
            </div>

            <% if (n % 2 == 0 && n != ranking.length - 1) {
            } else { %>
        </div>
    </div>
    <% }}); %>

</div>

<br><br>
<%- include(appRoot + '/views/footer.ejs') %>

</body>
</html>

<script src="/js/compressed/book_ranking.min.js" type="text/javascript"></script>
