<%
var productTypeBundleName = Const.PRODUCT_TYPE_BUNDLE_ID_TO_NAME_HASH[productTypeBundleId];
var rankingName = originalURL.replace('/ranking/', '').replace(/\?.*/, '');
var generateURL = (page) => {
    var url = sprintf(
            "/ranking/%s?page=%d",
            rankingName,
            page
    );

    if (targetProductTypeId) {
        var productTypeName = Const.PRODUCT_TYPE_ID_TO_NAME_HASH[targetProductTypeId];
        url += sprintf("&type=%s", productTypeName);
    }

    return url;
};

%>

<div class="pager pt-3">
    <ul class="my-pagination">
        <li class="pre">
            <a href=<%= generateURL(targetPage - 1) %> class="<%= targetPage <= 1 ? 'disabled-link' : '' %>">
                <span>«</span>
            </a>
        </li>

        <% __.each(__.range(1, pageMax + 1), page => { %>
            <li>
                <a href=<%= generateURL(page) %> class="<%= targetPage == page ? 'active' : '' %>">
                    <span>
                        <%= page %>
                    </span>
                </a>
            </li>
        <% }); %>

        <li class="next">
            <a href=<%= generateURL(targetPage + 1) %> class="<%= pageMax <= targetPage ? 'disabled-link' : '' %>">
                <span>»</span>
            </a>
        </li>
    </ul>
</div>
