<%
const appRoot = require('app-root-path');
const __ = require('underscore');
const Moment = require('moment');
const CONST = require(appRoot + '/lib/const.js');
const UrlGenerator = require(appRoot + '/lib/url_generator.js');
const Pagination = require('pagination');
const ProductUtil = require(appRoot + '/lib/product_util.js');

// arguments
var isAdmin;
var targetPage;
var totalRankedNum;
var rankingTypeId;
var productTypeBundleId;
var productTypeId;
var rankingModels;
// var productBundleIdIntoRelatedDataHash;
var productBundleIdIntoProductDataHash;
var productBundleIdIntoTweetModelsHash;
var productBundleIdIntoProductTweetStatModelHash;
var productBundleIdIntoSearchWordsHash;
var adDataList;
var debugData;

var paginator = new Pagination.SearchPaginator({
    prelink: UrlGenerator.generateRankingPageURL({rankingTypeId, productTypeBundleId}),
    current: targetPage,
    rowsPerPage: CONST.PRODUCT_NUM_PER_PAGE,
    totalResult: totalRankedNum,
});
var paginationData = paginator.getPaginationData();

var rankingTypeName = CONST.RANKING_TYPE_NAME_TO_ID_HASH[rankingTypeId];
var productTypeBundleName = CONST.PRODUCT_TYPE_BUNDLE_ID_TO_NAME_HASH[productTypeBundleId];
var productTypeIds = CONST.PRODUCT_TYPE_BUNDLE_ID_TO_PRODUCT_TYPE_IDS[productTypeBundleId];

const META_TEXT_HASH = (() => {
    const base = {
        [CONST.PRODUCT_TYPE_BUNDLE_NAME_TO_ID_HASH.ALL]: {
            TITLE: '1000万以上のネットの声を基にしたリアルなランキングを毎日お届け！総合ランキングサイト | バズランキング',
            DESCRIPTION: '世論を100%反映した、リアルなランキングをユーザーの声と共に毎日お届けします。あなたの知りたかった色んなあれこれの世間の評価・感想を、恣意的操作一切無しでありのままご紹介！',
        },
        [CONST.PRODUCT_TYPE_BUNDLE_NAME_TO_ID_HASH.BOOK]: {
            TITLE: '本・書籍の最新人気ランキング 1000万以上のネットでの評判を基にリアルなランキングを毎日お届け！ | バズランキング',
            DESCRIPTION: '世論を100%反映した、今注目されている本・書籍ランキングをユーザーの声と共に毎日お届けします。あなたの知りたかったあの本・書籍の世間の評価・感想を、恣意的操作一切無しでありのままご紹介！',
        },
        [CONST.PRODUCT_TYPE_BUNDLE_NAME_TO_ID_HASH.GAME]: {
            TITLE: 'ゲームの最新人気ランキング 1000万以上のネットでの評判を基にリアルなランキングを毎日お届け！ | バズランキング',
            DESCRIPTION: '世論を100%反映した、今注目されているゲームランキングをユーザーの声と共に毎日お届けします。あなたの知りたかったあのゲームの世間の評価・感想を、恣意的操作一切無しでありのままご紹介！',
        },
        [CONST.PRODUCT_TYPE_BUNDLE_NAME_TO_ID_HASH.INN]: {
            TITLE: '旅行・宿泊予約サービスの最新人気ランキング 1000万以上のネットでの評判を基にリアルなランキングを毎日お届け！ | バズランキング',
            DESCRIPTION: '世論を100%反映した、今注目されている宿泊・旅行予約サービスランキングをユーザーの声と共に毎日お届けします。あなたの知りたかったあの予約サービスの世間の評価・感想を、恣意的操作一切無しでありのままご紹介！',
        },
        [CONST.PRODUCT_TYPE_BUNDLE_NAME_TO_ID_HASH.DATING]: {
            TITLE: '出会い・マッチングサービスの最新人気ランキング 1000万以上のネットでの評判を基にリアルなランキングを毎日お届け！ | バズランキング',
            DESCRIPTION: '世論を100%反映した、今注目されている出会い・マッチングサービスランキングをユーザーの声と共に毎日お届けします。あなたの知りたかったあのサービスの評価・利用者によるレビューを、恣意的操作一切無しでありのままご紹介！',
        },
        [CONST.PRODUCT_TYPE_BUNDLE_NAME_TO_ID_HASH.ANIME]: {
            TITLE: 'アニメの最新人気ランキング 1000万以上のネットでの評判を基にリアルなランキングを毎日お届け！ | バズランキング',
            DESCRIPTION: '世論を100%反映した、今注目されているアニメランキングをユーザーの声と共に毎日お届けします。あなたの知りたかったあのアニメの評価・感想を、恣意的操作一切無しでありのままご紹介！',
        },
        [CONST.PRODUCT_TYPE_BUNDLE_NAME_TO_ID_HASH.MOVIE]: {
            TITLE: '映画の最新人気ランキング 1000万以上のネットでの評判を基にリアルなランキングを毎日お届け！ | バズランキング',
            DESCRIPTION: '世論を100%反映した、今注目されている映画ランキングをユーザーの声と共に毎日お届けします。あなたの知りたかったあの映画の評価・感想を、恣意的操作一切無しでありのままご紹介！',
        },
    };

    var targetMetaTextHash = base[productTypeBundleId];
    if (!targetMetaTextHash) {
        throw new Error('could not get meta text info. productTypeBundleId: ' + productTypeBundleId)
    }

    return base[productTypeBundleId];
})();
%>

<!DOCTYPE html>
<link href="/css/luminous-basic.min.css" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="/css/accordion.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>

<link href="/css/common.css" rel="stylesheet">
<link href="/css/ranking.css" rel="stylesheet">

<html>
<head>
    <title><%- META_TEXT_HASH.TITLE %></title>

    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <meta name="description" content=<%= META_TEXT_HASH.DESCRIPTION %>>

    <% if (paginationData.previous) { %>
        <link rel=”prev”
              href="<%= UrlGenerator.generateRankingPageURL({
                  productTypeBundleId,
                  page: paginationData.previous,
              }) %>">
    <% } %>

    <% if (paginationData.next) { %>
        <link rel=”next”
              href="<%= UrlGenerator.generateRankingPageURL({
                  productTypeBundleId,
                  page: paginationData.next,
              }) %>">
    <% } %>
</head>
<body>
<%- include(appRoot + '/views/header.ejs', { productTypeBundleId: productTypeBundleId, }) %>

<div id="content" class="container-fluid">

    <div class="row">
        <!-- ======== MAIN CONTENTS COL ======== -->
        <!--        <div class="col-12 col-lg-8 p-0 mt-0 main-content-col">-->
        <div class="col-12 col-lg-8">

            <% if (isAdmin) { %>
                <div class="row pl-4 pr-4">
                    <div class="col-12">
                        ProductBundle検索
                        <input id="input-admin-bundle-search" class="form-control" type="text" autocomplete="off"
                               placeholder="">
                    </div>
                </div>
            <% } %>

            <!-- TODO ランキングタイトル -->
            <!--            <div class="row m-3">-->
            <!--                <div class="col-12">-->
            <!--                    総合-->
            <!--                </div>-->
            <!--            </div>-->

            <%
            // TODO: productTypeIdが機能していないので削除するか、改善する必要あり
            if (false) {
            if (
                    productTypeBundleId &&
                    productTypeBundleId != CONST.PRODUCT_TYPE_BUNDLE_NAME_TO_ID_HASH.ALL &&
                    2 <= productTypeIds.length
            ) { %>
                <ul class="nav nav-tabs">
                    <%
                        var tabProductTypeIds = __.flatten([
                            CONST.PRODUCT_TYPE_NAME_TO_ID_HASH.ALL,
                            CONST.PRODUCT_TYPE_BUNDLE_ID_TO_PRODUCT_TYPE_IDS[productTypeBundleId],
                        ]);

                    __.each(tabProductTypeIds, tabProductTypeId => {
                        var productTypeJapaneseName = CONST.PRODUCT_TYPE_ID_TO_JA_NAME_HASH[tabProductTypeId];
                        var isTargetType = tabProductTypeId == productTypeId;
                    %>
                    <li class="nav-item tab-item">
                        <a href="<%= UrlGenerator.generateRankingPageURL({rankingTypeId, productTypeBundleId}) %>"
                           class="nav-link <%= isTargetType ? 'active' : '' %>">
                            <%= productTypeJapaneseName %>
                        </a>
                    </li>
                    <% }); %>
                </ul>
            <%
            }
            }
            %>

            <%
            __.times(rankingModels.length, function(n) {
                var rankingModel = rankingModels[n];
                var productBundleId = rankingModel.productBundleId;
                var productData = productBundleIdIntoProductDataHash[productBundleId];
                var productBundleModel = productData.productBundleModel;
                var productModels = productData.productModels;

                if (!productModels.length) return;

                var dispProductModel = ProductUtil.findDispProductModel(productModels);

                var productTweetStatModel = productBundleIdIntoProductTweetStatModelHash[productBundleId] || {};
                var buzz = productTweetStatModel.buzz || 0;
                var tweetCount = productTweetStatModel.tweetCount || 0;
                // var progressBarPercentage = ((buzz / rank1Buzz) * 100) || 0;
                var rank = rankingModel.rank;
                var tweetModels = productBundleIdIntoTweetModelsHash[productBundleId] || [];
                var linkURL = UrlGenerator.generateProductBundleDetailPageURL(productBundleId);

                // TODO
                // ・カテゴリランキングの順位表示
                // 　　複数カテゴリでランクインしてる場合の考慮が必要
            %>

            <div class="row product-row-block">
                <div class="col-12">
                    <div class="product-block product-block-border"
                         data-product-bundle-id="<%= productBundleModel.id %>">

                        <span class="product-block-border-title relative">
                            <% if (buzz) { %>
                                <span class="d-flex align-items-end no-wrap">
                                    <% if (0 <= rank && rank <= 3) { %>
                                        <img src="/img/ranking/rank_<%= rank %>_crown.png" class="rank-crown-img">
                                    <% } %>
                                    <%= rank %>位&nbsp;
                                </span>
                            <% } %>
                        </span>

                        <div class="row d-flex align-items-center product-block-header">
                            <div class="col-12 d-flex align-items-center justify-content-center">
                                <h2 class="product-title">
                                    <a href="<%= linkURL %>">
                                        <%= productBundleModel.name %>
                                    </a>
                                </h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4 product-col">
                                <div class="product-info-block my-sticky">
                                    <div class="row">
                                        <div class="col-12 product-image-col">
                                            <% if (dispProductModel.getProductClassName() == 'web_service') { %>
                                                <div class="affiliate-html">
                                                    <%- dispProductModel.getAffiliateHTML() %>
                                                </div>
                                            <%
                                            } else {
                                            %>
                                                <div>
                                                    <img src="<%= dispProductModel.getImageURL() %>"
                                                         class="img-fluid product-image">
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>

                                    <div class="row justify-content-center pt-2">
                                        <div class="col-lg-6 col-12 no-wrap">
                                            <i class="fas fa-fire-alt fa-fw buzz-icon"></i>
                                            <span class="stat-count"><%= buzz %></span>
                                        </div>

                                        <div class="col-lg-6 col-12 no-wrap">
                                            <i class="fab fa-twitter fa-fw twitter-icon"></i>
                                            <span class="stat-count"><%= tweetCount %></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <img class="simple-buzz-chart-img"
                                                 src="/img/simple_buzz_chart_dummy.png">
                                        </div>
                                    </div>
                                    <a class="product-info-block-link" href="<%= linkURL %>"></a>
                                </div>
                            </div>

                            <div class="col-8 tweet-reference-block-col">
                                <%- include(appRoot + '/views/compact_tweet_list.ejs', { tweetModels: tweetModels, }) %>
                            </div>
                        </div>

                        <%
                        if (isAdmin) {
                            var args = {
                                productBundleId,
                                debugData,
                                productBundleModel,
                                productModels,
                            };
                        %>
                        <%- include(appRoot + '/views/ranking_admin_product_options.ejs', args) %>
                        <% } %>

                    </div>
                </div>
            </div>

            <% if ((n + 1) % 4 == 0) { %>
                <%- include(appRoot + '/public/ad/adsense/in_feed.html') %>
            <% } %>

            <% }); %>

            <% if (rankingModels.length % 4 != 0 && rankingModels.length < CONST.PRODUCT_NUM_PER_PAGE) { %>
                <%- include(appRoot + '/public/ad/adsense/in_feed.html') %>
            <% } %>

            <% if (!rankingModels.length) { %>
                <div class="row">
                    <div class="col-12 text-align-center p-5">
                        該当カテゴリでランキング内の商品はありません
                    </div>
                </div>
            <% } %>

            <% if (targetPage == null) { %>
                <div class="threshold-buzz-count-description">
                    ※ 特定の一部商品を除いて、Buzzが<%= CONST.THRESHOLD_BUZZ_FOR_RANK_IN %>
                    未満の商品・サービスはランキングには表示されません
                </div>
            <% } %>

            <%- include(appRoot + '/views/pagination.ejs', { paginationData: paginationData, }); %>
        </div>
        <!-- ======================================== -->

        <!-- ========== SUB CONTENTS ROW ========= -->
        <div class="col-12 col-lg-4">
            <%- include(appRoot + '/views/sub_content_search_tweet_by_account_name.ejs', {}) %>
            <%- include(appRoot + '/views/sub_content_ad_official_twitter_account.ejs', {}) %>
            <%- include(appRoot + '/views/sub_content_simple_rankings.ejs', { adDataList: adDataList, }) %>
        </div>
        <!-- ======================================== -->
    </div>
</div>

<%- include(appRoot + '/views/footer.ejs') %>

<script>
  var isAdmin = !!'<%- isAdmin ? 'admin' : null %>';
  var productBundleIdIntoSearchWordsHash = JSON.parse('<%- JSON.stringify(productBundleIdIntoSearchWordsHash) %>');
</script>

<% if (isAdmin) { %>
    <script src="/js/compressed/admin.min.js" type="text/javascript" async></script>
<% } %>
<script src="/js/compressed/ranking.min.js" type="text/javascript" async></script>

</body>
</html>
