<%
const appRoot = require('app-root-path');
const __ = require('underscore');
const CONST = require(appRoot + '/lib/const.js');
const UrlGenerator = require(appRoot + '/lib/url_generator.js');
%>

<!DOCTYPE html>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="/css/common.css" rel="stylesheet">
<link href="/css/sitemap.css" rel="stylesheet">

<html>
<head>
    <title>サイトマップ | バズランキング</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description"
          content="1000万以上のユーザーの声を基に本・書籍・アニメ・ゲーム・映画などの注目度ランキングを毎日お届け！BuzzRankingのサイトマップはこちら">

</head>
<body>

<%- include(appRoot + '/views/header.ejs') %>

<div id="content" class="container-fluid pt-3">
    <section class="section">
        <h2 class="parent">ランキング</h2>

        <div class="row">
            <div class="col-12">
                <ul class="sitemap_list">
                    <% __.each(CONST.PRODUCT_TYPE_BUNDLE_NAME_TO_ID_HASH, (productTypeBundleId, productTypeBundleName) => { %>
                        <li>
                            <a href="<%= UrlGenerator.generateRankingPageURL({productTypeBundleId: productTypeBundleId,}) %>">
                                <%= CONST.PRODUCT_TYPE_BUNDLE_ID_TO_JA_NAME_HASH[productTypeBundleId] %>
                            </a>
                        </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </section>

    <section>
        <h2 class="parent">商品・サービス</h2>
        <div class="row">
            <div class="col-12">
                <ul class="sitemap_list">
                    ページ最上部の入力欄から商品名を検索することで、詳細ページを閲覧することができます
                </ul>
            </div>
        </div>
    </section>

    <section>
        <h2 class="parent">その他</h2>
        <div class="row">
            <div class="col-12">
                <ul class="sitemap_list">
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/privacy_policy">プライバシーポリシー</a></li>
                    <li><a href="/profile">運営者情報</a></li>
                </ul>
            </div>
        </div>
    </section>

    <%- include(appRoot + '/public/ad/adsense/horizontal.html') %>
</div>

<%- include(appRoot + '/views/footer.ejs') %>

</body>
</html>
