<%
var officialSiteURL = productData.productModel.publicUrl;
var productDetailURL = "/product/detail/" + productData.productModel.productId;
var ogpImageURL = productData.productModel.ogpImageUrl;
var siteThumbnailURL = "https://blinky.nemui.org/shot/large?" + officialSiteURL;
%>

<div class="row">
    <div class="col-12 product-col">
        <div class="product-info-block">

            <div class="row">
                <div class="col-12">

                    <% if (ogpImageURL) { %>
                        <a href="<%= productDetailURL %>">
                            <img class="ogp-image anime-thumbnail-img" src="<%= ogpImageURL %>">
                        </a>
                    <% } else { %>
                        <a href="<%= productDetailURL %>">
                            <img class="site-thumbnail-img anime-thumbnail-img" src="<%= siteThumbnailURL %>">
                        </a>
                    <% } %>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="row pt-3">
    <div class="col-12">
        <%- include(appRoot + '/views/compact_tweet_list.ejs', { productData: productData, }) %>
    </div>
</div>
