<%
productModel;
bookCaptionModel;
tweetModels;

var productTypeBundleId = Const.PRODUCT_TYPE_ID_TO_BELONGED_PRODUCT_TYPE_BUNDLE_ID[productModel.productTypeId];
%>
<link href="/css/product_detail/1.css" rel="stylesheet">

<div class="row pt-3 product-title">
    <div class="col-12">
        <h1>
            <% if (productModel.subTitle) { %>
                <span><%= productModel.subTitle %></span>
            <% } %>
            <%= productModel.getProductName() %>
        </h1>
    </div>
</div>

<div class="row product-basic-info">
    <div class="col-md-12 col-lg-3 text-align-center">
        <div class="row">
            <div class="col-12 product-img-area">
                <img src="<%= productModel.imageUrlBase %>" class="img-fluid">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="buy-link-area mx-auto">
                    <span class="buy-link-area-title">購入</span>
                    <button type="button" class="btn af-link-button">
                        <a href="<%= productModel.affiliateItemUrl %>" target="_blank"
                           rel="nofollow">
                            <img src="/img/rakuten_logo.png" class="img-fluid af-link-rakuten-logo">
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-lg-9">
        <div class="row">
            <div class="col-4 text-align-center">
                発売日
            </div>
            <div class="col-8">
                <%= productModel.saleDateStr %>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-align-center">
                著作
            </div>
            <div class="col-8">
                <%= productModel.author %>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-align-center">
                ISBN
            </div>
            <div class="col-8">
                <%= productModel.isbnCode %>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-align-center">
                カテゴリ
            </div>
            <div class="col-8">
                <%= Const.PRODUCT_TYPE_BUNDLE_ID_TO_JA_NAME_HASH[productTypeBundleId] %>
            </div>
        </div>

        <% if (!isInvalidProduct) { %>
            <%- include('buzz_chart.ejs') %>
        <% } %>

    </div>
</div>

<% if (bookCaptionModel) { %>
    <div class="row text-align-center">
        <div class="col-12">
            <h2>あらすじ</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12 pb-4">
            <%= bookCaptionModel.caption %>
        </div>
    </div>
<% } %>
