<%
productModel;
bookCaptionModel;
tweetDataArray;

var productTypeBundleId = Const.PRODUCT_TYPE_ID_TO_BELONGED_PRODUCT_TYPE_BUNDLE_ID[productModel.productTypeId];
%>
<link href="/css/product_detail/1.css" rel="stylesheet">

<div class="row pt-3 product-title">
    <div class="col-12">
        <h1>
            <% if (productModel.subTitle) { %>
                <span><%= productModel.subTitle %></span>
            <% } %>
            <%= productModel.getProductName() %>
        </h1>
    </div>
</div>

<div class="row product-basic-info">
    <div class="col-md-12 col-lg-3 text-align-center">
        <div class="row">
            <div class="col-12 product-img-area">
                <img src="<%= productModel.imageUrlBase %>" class="img-fluid">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="buy-link-area mx-auto">
                    <span class="buy-link-area-title">購入</span>
                    <button type="button" class="btn af-link-button">
                        <a href="<%= productModel.affiliateItemUrl %>" target="_blank"
                           rel="nofollow">
                            <img src="/img/rakuten_logo.png" class="img-fluid af-link-rakuten-logo">
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-lg-9">
        <div class="row">
            <div class="col-3 text-align-center">
                発売日
            </div>
            <div class="col-9">
                <%= productModel.saleDateStr %>
            </div>
        </div>
        <div class="row">
            <div class="col-3 text-align-center">
                メーカーコード
            </div>
            <div class="col-9">
                <%= productModel.makerCode %>
            </div>
        </div>
        <div class="row">
            <div class="col-3 text-align-center">
                カテゴリ
            </div>
            <div class="col-9">
                <%= Const.PRODUCT_TYPE_BUNDLE_ID_TO_JA_NAME_HASH[productTypeBundleId] %>
            </div>
        </div>
        <div class="row text-align-center">
            <div class="col-12">
                <canvas id="buzz-chart" data-chart-plots="[<%= dataChartPlots %>]"></canvas>
            </div>
            <div class="chart-desc">
                ※Buzzは、データ収集時点から1週間以内にこの商品に関連するツイートを行ったTwitterアカウント数を指す
            </div>
        </div>
    </div>
</div>

<% if (productModel.caption) { %>
    <div class="row text-align-center">
        <div class="col-12">
            <h2>商品説明</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12 pb-5 product-description">
            <%- (productModel.caption).replace(/\n/g, '<br>').replace(/(<br>){3,}/g, '<br><br>') %>
        </div>
    </div>
<% } %>

<style>
    pre {border: 0; background-color: transparent;}
</style>
